/docs export-ignore
/tests export-ignore
.php-cs-fixer.dist.php export-ignore
phpunit.xml export-ignore
psalm.xml export-ignore
phpstan.neon export-ignore
rector.php export-ignore
.gitignore export-ignore
